<div class="row">

  <%= render partial: 'friends' %>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the WebChatApp!
      </h4>
    </div>
  </div>
</div>